.player {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: clamp(0.2rem, 0.1308rem + 0.3077vw, 0.5rem);
  border-radius: 4px;
  font-weight: bold;
}

.player-name {
  display: inline-block;
  font-size: clamp(1rem, 0.1385rem + 0.7179vw, 2rem);
  color: #e1dec7;
  text-transform: uppercase;
  margin: 0;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.player input {
  font: inherit;
  width: 10rem;
  border: none;
  padding: 0;
  animation: pulse-text 2s infinite;
  background-color: #46432f;
  text-align: center;
  text-transform: uppercase;
}

.player-symbol {
  margin-left: clamp(0.3rem, 0.1385rem + 0.7179vw, 1rem);
  font-size: clamp(1rem, 0.1385rem + 0.7179vw, 2rem);
  color: #e1dec7;
}

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}